/* .App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

  }
   */

   .carousel-image {
    width: 75%;
    height: 100%;
    object-fit: cover;
  }
  